# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../excercises\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../:\Users\karst\IdeaProjects\excercises\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
